.controls-container {
  display: flex;
  flex-direction: column;
}

.inactive, .active {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 65px;
  border: 2px solid #393635;
  border-radius: 5px;
}

.inactive {
  background-color: #e7e7e5;
  font-weight: 500;
}

.active, .inactive:active {
  background-color: #393635;
  height: 30px;
  font-weight: 500;
  color: #e7e7e5;
}
