.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.record-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50%;
}

.inactive, .active, .inactive:active {
  width: 150px;
  height: 35px;
  border: 2px solid #2d1c18;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10%;
}

.inactive {
  background-color: #e7e7e5;

}

.active, .inactive:active {
  background-color: #2d1c18;
  color: #e7e7e5;
  font-weight: 500;
}
