#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: sans-serif;
}

.top-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 30px;
}

.left-panel {
  display: flex;
  flex-direction: column;
  width: 33%;
  border: 2px solid #393635;
  border-radius: 5px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logo {
  font-size: 125px;
  color: #393635;
  background-image: -webkit-linear-gradient(0deg, #393635 48%,#7A7472 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  padding-top: 0px;
}
