#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: sans-serif;
}

.top-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
  height: 55%;
  max-height: 55%;
}