#app {
  font-family: sans-serif;
}

.workspace {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  font-size: 100px;
  color: #393635;
  background-image: -webkit-linear-gradient(0deg, #393635 48%,#7A7472 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
